<!DOCTYPE html>
<html>

<head th:fragment="headFrag">
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/postcards.css}">
	<link rel="stylesheet" th:href="@{/css/button.css}">
	<link rel="stylesheet" th:href="@{/css/profile.css}">
<style>

.gradient-custom {
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(220,239,165,1) 100%);
}	

.marquee {
    width: 100%;
    padding-top:15px;
    line-height: 30px;
    font-size: x-large;
    font-family:fantasy;
	color: Black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


</style>
<meta charset="UTF-8">
<title>KVCL 2024</title>
</head>

<head th:fragment="headFragSidebar">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>Sidebar With Bootstrap</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<head th:fragment="headFragRulesAndRegulations">
   	<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/about.css}">
</head>

<head th:fragment="headFragAboutUs">
   	<link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.2/css/all.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>

<nav th:fragment="navFrag" class="navbar navbar-expand-md navbar-dark" style="background-color: #0e2238">
	<a class="navbar-brand m-1" href="/welcome">KVCL 2024</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/welcome">Home</a></li>
		<!-- 	<li class="nav-item"><a class="nav-link" href="/about-us">About Us</a></li>
			<li class="nav-item"><a class="nav-link" href="/rules-and-reg">Rules & Regulations</a></li>-->		
	   </ul>
	</div>
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
		<li class="nav-item"><a class="nav-link" href="/register-user">Register</a></li>
	</ul>	
</nav>

<div th:fragment="marqueeFrag" class="marquee gradient-custom">
	<p><b th:text="${announcement.announcement}"></b></p>
</div>

<div th:fragment="sponsorLogoMarqueeFrag">
	<div class="tech-slideshow-2">
	       <div class="mover-2">
	    		<img th:src="@{images/sponsor-logo/kuberan.jpg}"  width="100" height="100"/>
	   			<img th:src="@{images/sponsor-logo/vinod-logo.png}"  width="100" height="100"/>						
	   			<img th:src="@{images/sponsor-logo/sapthagiri.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/esperto.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/siri-lightings.png}"  width="100" height="100"/>
	   			<img th:src="@{images/sponsor-logo/bsgroup.png}"  width="100" height="100"/>		
				<img th:src="@{images/sponsor-logo/plastico-impex.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/balaji-grills.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/eshwari-silver-photos.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/pamadi-jewellers.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/panchajanya.png}"  width="100" height="100"/>
				
				<img th:src="@{images/sponsor-logo/kuberan.jpg}"  width="100" height="100"/>
	   			<img th:src="@{images/sponsor-logo/vinod-logo.png}"  width="100" height="100"/>						
	   			<img th:src="@{images/sponsor-logo/sapthagiri.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/esperto.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/siri-lightings.png}"  width="100" height="100"/>
	   			<img th:src="@{images/sponsor-logo/bsgroup.png}"  width="100" height="100"/>		
				<img th:src="@{images/sponsor-logo/plastico-impex.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/balaji-grills.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/eshwari-silver-photos.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/pamadi-jewellers.png}"  width="100" height="100"/>
				<img th:src="@{images/sponsor-logo/panchajanya.png}"  width="100" height="100"/>
	       </div>
	   </div>
</div>

<div th:fragment="teamLogoMarqueeFrag">
  <p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;">Registered Teams</p>
		<div class="tech-slideshow">
	        <div class="mover-1">
	            <img th:src="@{images/team-logos/team1.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team2.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team3.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team4.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team5.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team6.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team7.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team8.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team9.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team10.png}" width="100" height="100"/>
			    <img th:src="@{images/team-logos/team20.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team11.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team12.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team13.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team14.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team15.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team16.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team17.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team18.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team19.png}" width="100" height="100"/>
				<img th:src="@{images/team-logos/team1.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team2.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team3.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team4.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team5.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team6.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team7.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team8.png}"  width="100" height="100"/>
				<img th:src="@{images/team-logos/team9.png}"  width="100" height="100"/>					
	        </div>
	    </div>
</div>

<body>
<div th:fragment="footFrag">
<footer class="bg-body-tertiary text-center text-lg-start">
	  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
   	    <a class="text-body" href="/welcome"> © 2024 Copyright: Karnataka Arya Vysya Vasavi Yuvajana Sangha, KG Nagar, Bangalore</a>
  </div>
</footer>
<div>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/js/teamcard.js}"></script>
</div>
</div>
</body>

</html>