@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

*:hover {
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}

section {
   float: left;
   width: 100%;
   background: #fff;
   /* fallback for old browsers */
   padding: 30px 0;
}

h1 {
   float: left;
   width: 100%;
   color: #232323;
   margin-bottom: 30px;
   font-size: 14px;
}

h1 span {
   font-family: "Libre Baskerville", serif;
   display: block;
   font-size: 45px;
   text-transform: none;
   margin-bottom: 20px;
   margin-top: 30px;
   font-weight: 700;
}

h1 a {
   /* color: #131313; */
   
   font-weight: bold;
}

/*Profile card 2*/
.profile-card-2 .card-img-block {
   float: left;
   width: 100%;
   height: 375px;
   overflow: hidden;
}

.profile-card-2 .card-body {
    position: relative;
    height: 475px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    text-overflow: ellipsis;

}

.profile-card-2 .profile {
   border-radius: 	10%;
   position: relative;
   left: 50%;
   height:130px;
   max-width: 130px;
   border: 3px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
}

.profile-card-2 .address {
   position: relative;
  /*  top: 5%;
   left: 22%; */
}


.profile-card-2 .contact {
   position: relative;
   /* top: 5%;
   left: 22%; */
   margin-bottom: 15px;
}

.profile-card-2 h5 {
   font-weight: 600;
   color: #006da0;
}

.profile-card-2 .card-text {
   font-weight: 300;
   font-size: 16px;
}

.profile-card-2 .icon-block {
   position: relative;
   left: 25%;
   width: 100%;
}

.profile-card-2 .icon-block a {
   text-decoration: none;
}

.profile-card-2 i {
   display: inline-block;
   font-size: 16px;
   color: #006da0;
   text-align: center;
   border: 1px solid #006da0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}

.profile-card-2 i:hover {
   background-color: #006da0;
   color: #fff;
}

.tech-slideshow {
  height: 150px;
  max-width: 100%;
  margin: 2px auto;
  position: relative;
  overflow: hidden;
  border:1px solid black;
  font-size:0;
}

.mover-1 {
  height: 150px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 17s linear infinite;
}

.mover-1 img {
  display:inline-block;
  vertical-align:middle;
  width:150px;
  height:150px;
  margin:2px;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-2400px);  
  }
}

.tech-slideshow-2 {
  height: 150px;
  max-width: 100%;
  margin: 2px auto;
  position: relative;
  overflow: hidden;
  border:1px solid black;
  font-size:0;
}

.mover-2 {
  height: 150px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;
  animation: moveSlideshow2 10s linear infinite;
}

.mover-2 img {
  display:inline-block;
  vertical-align:middle;
  width:150px;
  height:150px;
  margin:2px;
}

@keyframes moveSlideshow2 {
  100% { 
    transform: translateX(-540px);  
  }
}

/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --s: 0.9em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
  background-color: #CC333F; /* the main color */
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon2 {
  font-weight: bold;
  color: #fff;
}
.ribbon2 {
  --r: .4em;  /* control the cutout of the ribbon */
  --c: #DAA520;
  
  padding-inline: calc(.2em + var(--r));
  text-align: center;
  line-height: 2;
  background-image: 
    linear-gradient(var(--c) 70%,#0000 0), 
    linear-gradient(to bottom left,#0000 50%, color-mix(in srgb,var(--c),#000 40%) 51% 84%,#0000 85%);
  background-position: 0 .15lh;
  background-size: 100% 1lh;
  clip-path: polygon(0 .15lh,100% .15lh,calc(100% - var(--r)) .5lh,100% .85lh,100% calc(100% - .15lh),0 calc(100% - .15lh),var(--r) calc(100% - .5lh),0 calc(100% - .85lh));
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon3 {
  text-align:center;
  font-weight: bold;
  font-size: 18px;
}
.ribbon3 {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: var(--d) calc(var(--s) + .5em) 0;
  line-height: 1.8;
  background:
    conic-gradient(from  45deg at left  var(--s) top var(--d),
     #0008 12.5%,#0000 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(from -45deg at right var(--s) top var(--d),
     #0004 62.5%,#0000 0 87.5%,#0008 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 0,calc(var(--s) + var(--d)) 0,calc(var(--s) + var(--d)) var(--d),calc(100% - var(--s) - var(--d)) var(--d),calc(100% - var(--s) - var(--d)) 0,100% 0, calc(100% - var(--c)) calc(50% - var(--d)/2),100% calc(100% - var(--d)),calc(100% - var(--s)) calc(100% - var(--d)),calc(100% - var(--s)) 100%,var(--s) 100%,var(--s) calc(100% - var(--d)),0 calc(100% - var(--d)),var(--c) calc(50% - var(--d)/2));
  background-color: red; /* the main color */
}

.titles{
position: relative;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFA26B;
    text-shadow: 1px 1px #FFA12B, 4px 4px #000000;
}

.fancy-wipe {
	margin: 0;
	font-weight: 900;
	position: relative;
	--duration: 3.5s;
	--easing: cubic-bezier(0.45, 0, 0.55, 1);
	--colors: linear-gradient(
		90deg,
		#fff89a,
		#cdf2ca,
		#a2cdcd,
		#d1e8e4,
		#cab8ff,
		#ff7878,
		#ffc898
	);
}

.text {
	display: block;
	color: white;
	animation: wipe-in var(--duration) infinite var(--easing);
	mask: linear-gradient(to right, white, white 45%, black, 55%, black);
  	mask-composite: exclude;
	mask-mode: luminance;
	mask-size: 300% 100%;
	mask-position: 100% 0px;
}

.wipe-in {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: var(--colors);
	background-clip:text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: wipe-in var(--duration) infinite var(--easing);
	mask: linear-gradient(to right, black, black 45%, white 50%, black 52.5%, black);
  	mask-composite: exclude;
	mask-mode: luminance;
	mask-size: 300% 100%;
	mask-position: 100% 0px;
}

@keyframes wipe-in {
	100% {
		mask-position: 0px 0px;
	}
}