@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");

*:hover {
   -webkit-transition: all 1s ease;
   transition: all 1s ease;
}

section {
   float: left;
   width: 100%;
   background: #fff;
   /* fallback for old browsers */
   padding: 30px 0;
}

h1 {
   float: left;
   width: 100%;
   color: #232323;
   margin-bottom: 30px;
   font-size: 14px;
}

h1 span {
   font-family: "Libre Baskerville", serif;
   display: block;
   font-size: 45px;
   text-transform: none;
   margin-bottom: 20px;
   margin-top: 30px;
   font-weight: 700;
}

h1 a {
   /* color: #131313; */
   
   font-weight: bold;
}

/*Profile card 2*/
.profile-card-2 .card-img-block {
   float: left;
   width: 100%;
   height: 375px;
   overflow: hidden;
}

.profile-card-2 .card-body {
   position: relative;
}

.profile-card-2 .profile {
   border-radius: 	10%;
   position: relative;
   left: 50%;
   height:160px;
   max-width: 160px;
   border: 3px solid rgba(255, 255, 255, 1);
   -webkit-transform: translate(-50%, 0%);
   transform: translate(-50%, 0%);
}

.profile-card-2 .address {
   position: relative;
   top: 5%;
   left: 22%;
}


.profile-card-2 .contact {
   position: relative;
   top: 5%;
   left: 22%;
}

.profile-card-2 h5 {
   font-weight: 600;
   color: #006da0;
}

.profile-card-2 .card-text {
   font-weight: 300;
   font-size: 12px;
}

.profile-card-2 .icon-block {
   position: relative;
   left: 25%;
   width: 100%;
}

.profile-card-2 .icon-block a {
   text-decoration: none;
}

.profile-card-2 i {
   display: inline-block;
   font-size: 16px;
   color: #006da0;
   text-align: center;
   border: 1px solid #006da0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}

.profile-card-2 i:hover {
   background-color: #006da0;
   color: #fff;
}

.tech-slideshow {
  height: 150px;
  max-width: 100%;
  margin: 2px auto;
  position: relative;
  overflow: hidden;
  border:1px solid black;
  font-size:0;
}

.mover-1 {
  height: 150px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 17s linear infinite;
}

.mover-1 img {
  display:inline-block;
  vertical-align:middle;
  width:150px;
  height:150px;
  margin:2px;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-2400px);  
  }
}

.tech-slideshow-2 {
  height: 150px;
  max-width: 100%;
  margin: 2px auto;
  position: relative;
  overflow: hidden;
  border:1px solid black;
  font-size:0;
}

.mover-2 {
  height: 150px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;
  animation: moveSlideshow2 10s linear infinite;
}

.mover-2 img {
  display:inline-block;
  vertical-align:middle;
  width:150px;
  height:150px;
  margin:2px;
}

@keyframes moveSlideshow2 {
  100% { 
    transform: translateX(-540px);  
  }
}

