<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/layoutFragments :: headFragAboutUs}"></head>

<body class="d-flex flex-column vh-100">

<div th:replace="~{fragments/layoutFragments  :: navFrag}" ></div>

<div class="container overflow-auto text-dark vh-100">
	<div class="container text-center">
	   		 <div class="heading">
	        	<h2>Sri Vasavi Seva Mandali (R)</h2>
	        	<h3>Kempegowda Nagar, Bangalore</h3>
	         </div>
	         <div class="container row">
		          <div class="col-md-4">
		          	<img th:src="@{/images/president-kgnagar.jpeg}" width="200px" />
		          </div>
		          <div class="col-md-4">
		          	<img th:src="@{/images/yuvajana-president-kgnagar.jpeg}" width="200px"  />
		          </div>
		          <div class="col-md-4">
		          	<img th:src="@{/images/president-kgnagar.jpeg}" width="200px" />
		          </div>
	          </div>
	        	Karnataka Vasavi Sports League is organized by Vasavi Yuva Jana Sanga, Malleswaram & Vasavi Youth Centre since 8 years
	        	Every year we organize State Level Cricket, Badminton & Carrom competition.
	        	The Motto is “Sports for Unity” and the organization is actively running under the leadership of R.P.Ravishankar (President of Karnataka Arya Vysya Mahasabha) & Sri P.N.Govindarajulu (President of Malleswaram Arya Vysya Sanga).
	        	This year the KCVL is organized by Vasavi Yuvajana Sangha Bangalore
	 </div>

</div>
<div th:replace="~{fragments/layoutFragments :: footFrag}"></div>

</body>
</html>