<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:replace="fragments/layoutFragmentsPrivate  :: headFrag" ></div>

<body>

<nav th:replace="fragments/layoutFragmentsPrivate :: navFrag"></nav>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-90">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

           <!-- <div class="mb-md-5 mt-md-4 pb-5">  --> 
			<form th:action="@{/user/add-payment-details}" th:method="post" th:object="${paymentInfoFile}" enctype="multipart/form-data">  				  			  	
	             
	              <h2 class="fw-bold mb-2 text-uppercase">KVCL 2K24</h2>
	              <h5 class="fw-bold mb-2 text-uppercase">Payment Details Form</h5>
	              <p class="text-white-50 mb-5">Please pay 6000₹ by Scanning the below QR Code</p>	              
	              <div>
					<img class="img-fluid" src="../static/images/scanner.jpeg" width="200px" th:src="@{../images/scanner.jpg}"/>
		            <p class="text-white-50 mb-5"></p>
				  	
				  </div>  
           		 	<div data-mdb-input-init class="form-outline form-white mb-4">
	                <p th:if="${#fields.hasErrors('file')}" th:errorclass="text-danger" th:errors="*{file}"/>	              
	                <input type="file" class="form-control form-control-lg" th:field="*{file}" accept="image/*" required="required"/>
	                <label class="form-label fs-4">Upload the screenshot of Payment</label>
	              </div>
	              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Save Screenshot</button>
				</form>	  	
            </div>	
          </div>
        </div>
      </div>
    </div>

</section>

<div th:replace="fragments/layoutFragmentsPrivate :: footFrag"></div>

</body>
</html>