<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/layoutFragmentsPrivate :: headFragOld}"></head>

<body class="d-flex flex-column vh-100">

<div th:insert="~{fragments/layoutFragmentsPrivate  :: navFrag}" ></div>

<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>

<div class="vh-100 m-10 overflow-auto text-center">
	<h3>Admin Page</h3>	
	<hr>
	<br>
		<h4>Click on below button to Make an Announcement!!</h4>
		<a class="btn btn-primary" href="/admin/new-announcement">Make new Announcement</a>
	<br>
	<br>
	<hr>
	<h5>Team wise approved count</h5>	
	<div th:if="${approvalTable!=null}">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Name</th>					
						<th>Approved Count</th> 
						<th>Unapproved Count</th> 
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${approvalTable}">
					  	<td th:text=${stats.count}></td>
					 	<td th:text="${item.teamName}"></td>
				 	 	<td th:text="${item.approved}"></td>
				 	 	<td th:text="${item.unapproved}"></td>			 				 	
					 </tr>
				</tbody>
			</table>	
	</div>	
	<br>
	<br>	
	<hr>
	<h5>Team wise player details</h5>
	<form action="/admin/fetch-team-players" method="post">
		<div data-mdb-input-init class="form-outline form-white mb-4">
             <select name="selectedTeamName" id="selectedTeamName"  class="form-control form-control-lg" required="required">
             		<option th:each="p : ${allteams}" th:value="${p}" th:text="${p}"></option>
             </select>
             <label class="form-label fs-4">Select Team</label>
        </div>
	<button class="btn btn-primary">Fetch Details</button>
	</form>
	
	<div th:if="${selectedTeamPlayers!=null}">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Photo</th>					
						<th>Player Name</th>
						<th>Team Name</th>					
                        <th>Approval Status</th> 	
						<th>Father Name</th>
						<th>Father Contact</th>
						<th>Mother Name</th>
						<th>Mother Contact</th>					
						<th>Address</th>
						<th>Age</th>
						<th>Blood Group</th>
						<th>Gothram</th>
						<th>Contact</th>
						<th>Profession</th>
						<th>T Shirt Size</th>
						<th>Player Skill</th> 
						<th>Batting Style</th> 
						<th>Bowling Style</th> 
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${selectedTeamPlayers}">
					  	<td th:text=${stats.count}></td>
					 	<td><img th:src="${item.photoImg}" alt="Avatar" class="img-fluid my-5" style="width: 250px;" /></td>
					 	<td th:text="${item.playerName}"></td>
				 	 	<td th:text="${item.teamName}"></td>
					  	<td th:text="${item.teamApproval} ? 'Approved' : 'Not Approved'"></td>	
					 	<td th:text="${item.fatherName}"></td>
					 	<td th:text="${item.fatherContact}"></td>
					 	<td th:text="${item.motherName}"></td>
					 	<td th:text="${item.motherContact}"></td>
					 	<td th:text="${item.address}"></td>
					 	<td th:text="${item.age}"></td>
					 	<td th:text="${item.bloodGroup}"></td>
					 	<td th:text="${item.playerGothram}"></td>
					 	<td th:text="${item.playerPhone}"></td>
					 	<td th:text="${item.profession}"></td>
					 	<td th:text="${item.playerShirtSize}"></td>
					 	<td th:text="${item.playerSkill}"></td>
					 	<td th:text="${item.battingStyle}"></td>
					 	<td th:text="${item.bowlingStyle}"></td>					 	
					 </tr>
				</tbody>
			</table>	
	</div>	
	<br>
	<br>	
	<hr>
	<h5>Registered Teams</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Name</th>
						<th>Captain</th>
						<th>Registered By</th>
						<th>Accomodation Reqd</th>
						<th>No of Accomodation</th>
						<th>Opted for Food</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_teams}" >
 					 	<td th:text=${stats.count}></td>
					 	<td th:text=${item.name}></td>
					 	<td th:text=${item.captain}></td>
					 	<td th:text=${item.registeredUser}></td>
					 	<td th:text=${item.requireAccomodation}></td>
					 	<td th:text=${item.noOfAccomodation}></td>
					 	<td th:text=${item.requireFood}></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Team Logo And Payments</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Name</th>
						<th>Team Logo</th>
						<th>Payment Screenshot</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_teams}" >
					  	<td th:text=${stats.count}></td>
 					 	<td th:text=${item.name}></td>
					 	<td><img th:src="${item.logoImg}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" /></td>
					 	<td th:if="${item.paymentInfoDB!=null}"><img th:src="${item.paymentInfoImg}" alt="Avatar" class="img-fluid my-5" style="width: 150px;" /></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Vasavi Sangha Details</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>						
						<th>Team Name</th>
						<th>Vasavi Sangha Name</th>
						<th>Vasavi Sangha Area</th>
						<th>City</th>
						<th>State</th>
						<th>President</th>
						<th>President no</th>
						<th>Secretary</th>
						<th>Secretary no</th>
						<th>Treasurer</th>
						<th>Treasurer no</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${vasavi_sangha_details}">
					  	<td th:text=${stats.count}></td>
					 	<td th:text="${item.name}"></td>
					 	<td th:text="${item.vsDetails.vasaviSanghaName}"></td>
					 	<td th:text=${item.vsDetails.vasaviSanghaArea}></td>
					 	<td th:text=${item.vsDetails.city}></td>
					 	<td th:text=${item.vsDetails.state}></td>
					 	<td th:text=${item.vsDetails.vsPresident}></td>
					 	<td th:text=${item.vsDetails.vsPresidentNumber}></td>
					 	<td th:text=${item.vsDetails.vsSecretary}></td>
					 	<td th:text=${item.vsDetails.vsSecretaryNumber}></td>
					 	<td th:text=${item.vsDetails.vsTreasurer}></td>
					 	<td th:text=${item.vsDetails.vsTreasurerNumber}></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
</div>

<div th:replace="~{fragments/layoutFragmentsPrivate :: footFrag}"></div>

</body>
</html>