<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/layoutFragmentsPrivate :: headFragOld}"></head>

<body class="d-flex flex-column vh-100">

<div th:insert="~{fragments/layoutFragmentsPrivate  :: navFrag}" ></div>

<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>

<div class="vh-100 container overflow-auto text-center">
	<h3>Admin Page</h3>	
	<br>
		<h4>Click on below button to Make an Announcement!!</h4>
		<a class="btn btn-primary" href="/admin/new-announcement">Make new Announcement</a>
	<br>
	<br>
	<h5>Registered Teams</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Name</th>
						<th>Captain</th>
						<th>Registered By</th>
						<th>Accomodation Reqd</th>
						<th>No of Accomodation</th>
						<th>Opted for Food</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_teams}" >
 					 	<td th:text=${stats.count}></td>
					 	<td th:text=${item.name}></td>
					 	<td th:text=${item.captain}></td>
					 	<td th:text=${item.registeredUser}></td>
					 	<td th:text=${item.requireAccomodation}></td>
					 	<td th:text=${item.noOfAccomodation}></td>
					 	<td th:text=${item.requireFood}></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Team Logo And Payments</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Name</th>
						<th>Team Logo</th>
						<th>Payment Screenshot</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_teams}" >
					  	<td th:text=${stats.count}></td>
 					 	<td th:text=${item.name}></td>
					 	<td><img th:src="${item.logoImg}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" /></td>
					 	<td th:if="${item.paymentInfoDB!=null}"><img th:src="${item.paymentInfoImg}" alt="Avatar" class="img-fluid my-5" style="width: 150px;" /></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Vasavi Sangha Details</h5>
	<div>
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>						
						<th>Team Name</th>
						<th>Vasavi Sangha Name</th>
						<th>Vasavi Sangha Area</th>
						<th>City</th>
						<th>State</th>
						<th>President</th>
						<th>President no</th>
						<th>Secretary</th>
						<th>Secretary no</th>
						<th>Treasurer</th>
						<th>Treasurer no</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${vasavi_sangha_details}">
					  	<td th:text=${stats.count}></td>
					 	<td th:text="${item.name}"></td>
					 	<td th:text="${item.vsDetails.vasaviSanghaName}"></td>
					 	<td th:text=${item.vsDetails.vasaviSanghaArea}></td>
					 	<td th:text=${item.vsDetails.city}></td>
					 	<td th:text=${item.vsDetails.state}></td>
					 	<td th:text=${item.vsDetails.vsPresident}></td>
					 	<td th:text=${item.vsDetails.vsPresidentNumber}></td>
					 	<td th:text=${item.vsDetails.vsSecretary}></td>
					 	<td th:text=${item.vsDetails.vsSecretaryNumber}></td>
					 	<td th:text=${item.vsDetails.vsTreasurer}></td>
					 	<td th:text=${item.vsDetails.vsTreasurerNumber}></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	
	<br>
	<br>	
</div>

<div th:replace="~{fragments/layoutFragmentsPrivate :: footFrag}"></div>

</body>
</html>