<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/layoutFragmentsPrivate :: headFragOld}"></head>

<body class="d-flex flex-column vh-100">

<div th:insert="~{fragments/layoutFragmentsPrivate  :: navFrag}" ></div>

<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>

<div class="vh-100 container overflow-auto text-center">
	<h3>Super Admin Page</h3>	
	<br>
		<h4>Click on below button to Make an Announcement!!</h4>
		<a class="btn btn-primary" href="/godadmin/new-announcement">Make new Announcement</a>
	<br>
	<br>
	<hr>
		<form th:action="@{/godadmin/reset-password}" method="post" class="container" >
				 
	              <h5 class="fw-bold mb-2 text-uppercase">Password Reset Form</h5>
	              <p class="text-white-50 mb-5">Please enter your details to register your team for Tournament!</p>
	
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	                <input type="text" class="form-control form-control-lg" name="number" required="required"/>
	                <label class="form-label fs-4">Enter Phone</label>
	              </div>
	              
	               <div data-mdb-input-init class="form-outline form-white mb-4">
	                <input type="text" class="form-control form-control-lg" name="password" required="required"/>
	                <label class="form-label fs-4">Enter Password</label>
	              </div>
	              <button type="submit">Reset Password</button>            
        </form>
	<br>
	<br>
	<hr>
	<h5>Registered Users</h5>	
	<div class="container ">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Role</th>
						<th>Give Admin Access</th>
						<th>Delete User</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_users}" >
					 	<td th:text="${stats.count}"></td>
					 	<td th:text=${item.name}></td>
					 	<td th:text=${item.email}></td>
					 	<td th:text=${item.username}></td>
					 	<td th:text=${item.roles}></td>
					 	<td><a class="btn btn-primary" th:href="@{'/godadmin/grant-admin-access/' + ${item.userId}}">Grant admin access</a></td>
					 	<td><a class="btn btn-danger" th:href="@{'/godadmin/delete-user/' + ${item.userId}}">Delete User</a></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Admins</h5>	
		<div class="container ">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Phone Number</th>						
						<th>Revoke Admin Access</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_admins}" >
					 	<td th:text=${item.name}></td>
					 	<td th:text=${item.username}></td>
					 	<td><a class="btn btn-warning" th:href="@{'/godadmin/revoke-admin-access/' + ${item.userId}}">Revoke admin access</a></td>
					 </tr>
				</tbody>
			</table>	
		</div>
	<br>
	<h5>Super Admins</h5>	
	<div class="container ">
	<hr>	
		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>						
				</tr>
			</thead>
			</tbody>
				 <tr th:each="item,stats : ${super_admins}" >
				 	<td th:text=${item.name}></td>
				 	<td th:text=${item.username}></td>
				 </tr>
			</tbody>
		</table>	
	</div>
	<br>
	<br>
	<h5>Registered Teams</h5>
	<div class="container ">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th>Sl No</th>
						<th>Team Logo</th>
						<th>Team Name</th>
						<th>Captain</th>
						<th>Registered By</th>
						<th>Accomodation Reqd</th>
						<th>No of Accomodation</th>
						<th>Opted for Food</th>
						<th>Payment Screenshot</th>
						<th>Delete Team</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${registered_teams}" >
					 	<td th:text="${stats.count}"></td>
					 	<td><img th:src="${item.logoImg}" alt="Avatar" class="img-fluid my-5" style="width: 80px;" /></td>
					 	<td th:text=${item.name}></td>
					 	<td th:text=${item.captain}></td>
					 	<td th:text=${item.registeredUser}></td>
					 	<td th:text=${item.requireAccomodation}></td>
					 	<td th:text=${item.noOfAccomodation}></td>
					 	<td th:text=${item.requireFood}></td>
					 	<td th:if="${item.paymentInfoDB!=null}"><img th:src="${item.paymentInfoImg}" alt="Avatar" class="img-fluid my-5" style="width: 50px;" /></td>
					 	<td><a class="btn btn-danger" th:href="@{'/godadmin/delete-team/' + ${item.id}}">Delete Team</a></td>					 	
					 </tr>
				</tbody>
			</table>	
	</div>
	<br>
	<br>
	<h5>Vasavi Sangha Details</h5>
	<div class="container ">
		<hr>	
			<table class="table table-responsive table-hover">
				<thead>
					<tr>	
						<th>Sl No</th>				
						<th>Team Name</th>
						<th>Vasavi Sangha Name</th>
						<th>Vasavi Sangha Area</th>
						<th>City</th>
						<th>State</th>
						<th>President</th>
						<th>President no</th>
						<th>Secretary</th>
						<th>Secretary no</th>
						<th>Treasurer</th>
						<th>Treasurer no</th>
					</tr>
				</thead>
				</tbody>
					 <tr th:each="item,stats : ${vasavi_sangha_details}">
					 	<td th:text="${stats.count}"></td>
					 	<td th:text="${item.name}"></td>
					 	<td th:text="${item.vsDetails.vasaviSanghaName}"></td>
					 	<td th:text=${item.vsDetails.vasaviSanghaArea}></td>
					 	<td th:text=${item.vsDetails.city}></td>
					 	<td th:text=${item.vsDetails.state}></td>
					 	<td th:text=${item.vsDetails.vsPresident}></td>
					 	<td th:text=${item.vsDetails.vsPresidentNumber}></td>
					 	<td th:text=${item.vsDetails.vsSecretary}></td>
					 	<td th:text=${item.vsDetails.vsSecretaryNumber}></td>
					 	<td th:text=${item.vsDetails.vsTreasurer}></td>
					 	<td th:text=${item.vsDetails.vsTreasurerNumber}></td>
					 </tr>
				</tbody>
			</table>	
	</div>
	
	<br>
	<br>	
</div>

<div th:replace="~{fragments/layoutFragmentsPrivate :: footFrag}"></div>

</body>
</html>