<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/layoutFragments :: headFrag}">
	
</head>

<body>

<div th:replace="~{fragments/layoutFragments  :: navFrag}" ></div>
				
<img class="img-fluid" width="100%"
			th:src="@{images/tournament-announcement.png}" />

<section class="gradient-custom">

 <p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;">Our Sponsors</p>
	
 <div th:replace="~{fragments/layoutFragments :: sponsorLogoMarqueeFrag}"></div>

<img class="img-fluid" width="100%"
			th:src="@{images/kvcl-header-register-now.png}" />

  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
			
			<form th:action="@{/login}" th:method="post">
				 <div th:if="${param.error}" class="bg-rose-100 justify-center p-4 ring-1 ring-rose-200 rounded-md">
                    <h4 class="text-danger">Invalid Credentials!</h4>
                    <p class="mb-0">Don't have an account? <a th:href="@{/register-user}" class="text-white-50 fw-bold">Sign Up</a></p> 
                </div>
	              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
	              <br>
	              <br>
	              <h6>Login with your registered Phone number</h6>
	
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	                <input type="text" name="username" class="form-control form-control-lg" pattern="[0-9]{10}" />
	                <label class="form-label fs-4">Phone number</label>
	              </div>
	
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	                <input type="password" name="password" class="form-control form-control-lg" />
	                <label class="form-label fs-4">Password</label>
	              </div>
	
	            <!--   <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
	
	              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

			</form>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a th:href="@{/register-user}" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

<div th:replace="~{fragments/layoutFragments :: teamLogoMarqueeFrag}" ></div>
  
</section>
<br>
<br>
<div th:replace="~{fragments/layoutFragments :: footFrag}"></div>

</body>
</html>