<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/layoutFragmentsPrivate :: headFragOld}">
</head>

<body class="d-flex flex-column vh-100">

<div th:insert="~{fragments/layoutFragmentsPrivate  :: navFrag}" ></div>

<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>



<div class="vh-100 overflow-auto">
	<div class="container-lg text-center" >
		<span class="titles">Player Profile</span>
	</div>
	<div th:if=${profile!=null}>
		<div class="py-3 m-2">
			<section class="mb-5" style="background-color: #f4f5f7;">
			    <div class="row d-flex justify-content-center align-items-center h-30">
			      <div class="col mb-1 mb-lg-0">
			        <div class="card mb-3" style="border-radius: .5rem;">
			          <div class="row row-no-gutters g-0">
			            <div class="col-md-4 text-center text-white"
			              style="border-top-left-radius: .5rem; background-color : #F0F0F0; border-bottom-left-radius: .5rem;">
    			           <img th:src="${profile.photoImg}" alt="Avatar" class="img-fluid my-5" style="width: 250px; height: 250px"  />  
   			              <h4 style="color: black" th:text="${'Player Name : ' + {profile.playerName}}"></h4>  
			              <h5 style="color: black" th:text="${'Team Name : ' + {profile.teamName}}"></h5>
			              <p style="color: black;"> Edit Player Info <a class="btn btn-warning" th:href="${'/user/edit-player/'+{profile.playerId}}"><i class="fa fa-edit"></i></a></p>
			            </div>
			            <div class="col-md-8">
			              <div class="card-body text-center p-4">
			                <div class="row row-no-gutters pt-1">
			                  <div class="col-4 mb-3">
			                    <h6>Profession | Shop Name | Company</h6>
			                    <p class="text-muted"th:text="${profile.profession}"></p>
			                  </div>
			                  <div class="col-4 mb-3">
			                    <h6>Contact Number</h6>
			                    <p class="text-muted" th:text="${profile.playerPhone}"></p>
			                  </div>
			                  <div class="col-4 mb-3">
			                    <h6>Age</h6>
			                    <p class="text-muted" th:text="${profile.age}"></p>
			                  </div>
			                </div>
			                <hr class="mt-0 mb-4">   
			                <div class="row row-no-gutters pt-1">
			                  <div class="col-6 mb-3">
			                    <h6>Email</h6>
			                    <p class="text-muted"th:text="${profile.playerEmail}"></p>
			                  </div>
			                  <div class="col-6 mb-3">
			                    <h6>Address</h6>
			                    <p class="text-muted" th:text="${profile.address}"></p>
			                  </div>
			                </div>
			                <hr class="mt-0 mb-4">
			                <div class="row row-no-gutters pt-1">
			                  <div class="col-4 mb-3">
			                    <h6>Player Gothram</h6>
			                    <p class="text-muted" th:text="${profile.playerGothram}"></p>
			                  </div>
			                   <div class="col-4 mb-3">
			                    <h6>Blood Group</h6>
			                    <p class="text-muted" th:text="${profile.bloodGroup}"></p>
			                  </div>
			                  <div class="col-4 mb-3">
			                    <h6>T Shirt Size</h6>
			                    <p class="text-muted" th:text="${profile.playerShirtSize}"></p>
			                  </div>
			                </div>
			                 <hr class="mt-0 mb-4">
			                <div class="row row-no-gutters pt-1">
			                  <div class="col-3 mb-3">
			                    <h6>Father Name</h6>
			                    <p class="text-muted" th:text="${profile.fatherName}"></p>
			                  </div>
			                  <div class="col-3 mb-3">
			                    <h6>Father Contact</h6>
			                    <p class="text-muted" th:text="${profile.fatherContact}"></p>
			                  </div>
			                  <div class="col-3 mb-3">
			                    <h6>Mother Name</h6>
			                    <p class="text-muted" th:text="${profile.motherName}"></p>
			                  </div>
			                  <div class="col-3 mb-3">
			                    <h6>Mother Contact</h6>
			                    <p class="text-muted" th:text="${profile.motherContact}"></p>
			                  </div>
			                <hr class="mt-0 mb-4">   
			                </div>
			                <div class="row row-no-gutters pt-1">
			                  <div class="col-4 mb-3">
			                    <h6>Player Skill</h6>
			                    <p class="text-muted" th:text="${profile.playerSkill}"></p>
			                  </div>
			                   <div class="col-4 mb-3">
			                    <h6>Batting Style</h6>
			                    <p class="text-muted" th:text="${profile.battingStyle}"></p>
			                  </div>
			                  <div class="col-4 mb-3">
			                    <h6>Bowling Style</h6>
			                    <p class="text-muted" th:text="${profile.bowlingStyle}"></p>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
		  </section>		
		</div>
		</div>
		<div th:if=${profile==null} class="text-center">
			<a class="btn btn-warning" href="/user/add-player">Please update your profile details</a>
		</div>
		<br>
	<div class="text-center text-danger" th:if="${profile!=null and profile.teamApproval==false}">
		<h4>Team details will only be visible after the captain approves you into the Team</h4>
	</div>
<!-- 	<div class="text-center justify-content-center">
		<div th:if="${profile!=null and profile.teamApproval==true and approvedPlayers!=null and !approvedPlayers.isEmpty()}" >
				<h3 class="text-center" th:text="${ {profile.teamName} + ' players list'}"></h3>				
				<hr>	
					<table class="container table table-responsive table-hover">
						<thead>
							<tr>
								<th>Sl No</th>
								<th>Photo</th>					
								<th>Player Name</th>
								<th>Team Name</th>					
								<th>Father Name</th>
								<th>Father Contact</th>
								<th>Mother Name</th>
								<th>Mother Contact</th>	
								<th>Address</th>
								<th>Age</th>
								<th>Blood Group</th>
								<th>Gothram</th>
								<th>Contact</th>
								<th>Email</th>
								<th>Profession</th>
								<th>T Shirt Size</th>
								<th>Player Skill</th> 
								<th>Batting Style</th> 
								<th>Bowling Style</th> 
							</tr>
						</thead>
						</tbody>
							 <tr th:each="item,stats : ${approvedPlayers}" >
		 					 	<td th:text=${stats.count}></td>
							 	<td><img th:src="${item.photoImg}" alt="Avatar" class="img-fluid my-5" style="width: 250px;" /></td>
							 	<td th:text="${item.playerName}"></td>
						 	 	<td th:text="${item.teamName}"></td>
							 	<td th:text="${item.fatherName}"></td>
							 	<td th:text="${item.fatherContact}"></td>
							 	<td th:text="${item.motherName}"></td>
							 	<td th:text="${item.motherContact}"></td>
							 	<td th:text="${item.address}"></td>
							 	<td th:text="${item.age}"></td>
							 	<td th:text="${item.bloodGroup}"></td>
							 	<td th:text="${item.playerGothram}"></td>
							 	<td th:text="${item.playerPhone}"></td>
							 	<td th:text="${item.playerEmail}"></td>
							 	<td th:text="${item.profession}"></td>
							 	<td th:text="${item.playerShirtSize}"></td>
							 	<td th:text="${item.playerSkill}"></td>
							 	<td th:text="${item.battingStyle}"></td>
							 	<td th:text="${item.bowlingStyle}"></td>	
							 </tr>
						</tbody>
					</table>	
		</div>
	</div> -->
	<div th:if="${profile!=null and profile.teamApproval==true}">
		<div class="container-lg text-center" style="margin-bottom: 10px">
			<span class="titles" th:text="${team.name}"></span>
		</div>
		<div class="container-lg text-center" style="margin-bottom: 20px">
			<img th:src="${team.logoImg}" alt="Avatar" class="img-fluid my-5" style="width: 350px;" />
			<p>Click on the photos for more info!</p>
		</div>
		
		<div class="container-lg">
			 <div class="row">		   		
			   <div th:each="item,stats : ${approvedPlayers}" class="col-md-3" style="margin-left: 35px;margin-bottom: 10px;margin-right: 35px">
				   	<div class="pro-container" >
					   	<div class="pro-card">
					   	   <div class="pro-side">
					        <img th:src="${item.photoImg}"  style="width: 260px; height: 300px">
					        <h2 class="text-center" style="font-family: 'Times New Roman', serif;" th:text="${item.playerName}"></h2>
					      </div>
					      <div class="pro-side pro-back text-center">
					        <h2>Player Skill</h2>
					        <h3 th:text="${item.playerSkill}"></h3>
					        <h2>Batting Style</h2>
					        <h3  th:text="${item.battingStyle}"></h3>
					        <h2>Bowling Style</h2>
					        <h3 th:text="${item.bowlingStyle}"></h3>
					      </div>
					   	</div> 
				    </div>
				  </div>
			</div>
		</div>	
	</div>
</div>
<br>
<br>
<div th:replace="~{fragments/layoutFragmentsPrivate :: footFrag}"></div>

</body>
</html>