<!doctype html>

<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/layoutFragments :: headFrag}"></head>

<body>

<div th:replace="~{fragments/layoutFragments  :: navFrag}" ></div>
<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>
				
<img class="img-fluid" width="100%"
			th:src="@{images/tournament-announcement.png}" />
<img class="img-fluid" width="100%"
			th:src="@{images/kvcl-header-register-now.png}" />

<section class="gradient-custom">

 <p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;">Our Sponsors</p>
	
<div th:replace="~{fragments/layoutFragments :: sponsorLogoMarqueeFrag}"></div>
	   
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
			<div class="d-flex align-items-center justify-content-center">
				<p th:text="${errr}" class="text-danger fs-4"></p>
			</div>	
			<form th:action="@{/register-user}" method="post" th:object="${user}">
				 
	              <h2 class="fw-bold mb-2 text-uppercase">KVCL 2K24</h2>
	              <h5 class="fw-bold mb-2 text-uppercase">User Registration Form</h5>
	              <p class="text-white-50 mb-5">Please enter your details to register your team for Tournament!</p>
	
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	              	<p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}" />
	                <input type="text" class="form-control form-control-lg" th:field="*{name}" required="required"/>
	                <label class="form-label fs-4">Enter Name</label>
	              </div>
	              
	              <div data-mdb-input-init class="form-outline form-white mb-4">
   	              	<p th:if="${#fields.hasErrors('password')}" th:errorclass="text-danger" th:errors="*{password}" />   	              	
	                <input type="password" class="form-control form-control-lg"th:field="*{password}" required="required" />
	                <label class="form-label fs-4" >Enter password</label>
	              </div>
	              
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	              <p th:if="${#fields.hasErrors('reEnterPassword')}" th:errorclass="text-danger" th:errors="*{reEnterPassword}" />
	               <div  th:if="${not #strings.isEmpty(err)}">
	              	 <p th:text="${err}" class="text-danger"></p>
	              </div>
	                <input type="password" class="form-control form-control-lg" th:field="*{reEnterPassword}" required="required"/>
	                <label class="form-label fs-4" >Re-Enter password</label>
	              </div>
	         
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	              <p th:if="${#fields.hasErrors('username')}" th:errorclass="text-danger" th:errors="*{username}"/>	              
	                <input type="text" class="form-control form-control-lg" th:field="*{username}" pattern="[0-9]{10}" required="required"/>
	                <label class="form-label fs-4" >Phone number</label>
	              </div>
         		  
         		  <input class="form-control" type="hidden" th:field="*{roles}"></input>
	              
	              <div data-mdb-input-init class="form-outline form-white mb-4">
	              
	            
	                <input type="email" class="form-control form-control-lg" th:field="*{email}" required="required"/>
	                <label class="form-label fs-4" >Email ID</label>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}" />
	                
	              </div>
	              
	              <div data-mdb-input-init class="form-outline form-white mb-4 fs-4">
				     	               <label class="form-label fs-4">Are you registering as a Captain?</label>
				  <br>
				   Yes<input type="radio" style="height:25px; width:25px; vertical-align: middle;" value="Yes" th:field="*{isCaptain}" required="required"/> 
				   No<input type="radio" style="height:25px; width:25px; vertical-align: middle;" value="No" th:field="*{isCaptain}" required="required"/>
			      </div>
	
					<!-- 					
						<div th:if="${#fields.hasAnyErrors()}">
						    <ul>
						        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
						    </ul>
						</div>
 					-->
	              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
			  </form>
            </div>
            <div class="d-flex align-items-center justify-content-center p-5">
              <p class="mb-0">Already Registered? <a th:href="@{/login}" class="text-white-50 fw-bold">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    
<div th:replace="~{fragments/layoutFragments :: teamLogoMarqueeFrag}" ></div>
    
</section>

<div th:replace="~{fragments/layoutFragments :: footFrag}"></div>

</body>
</html>