<!doctype html>

<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:include="fragments/layoutFragments :: headFrag"></head>

<body class="d-flex flex-column vh-100">

<div th:replace="fragments/layoutFragments  :: navFrag" ></div>

<div th:replace="fragments/layoutFragments :: marqueeFrag"></div>

<div class="vh-100 container overflow-auto text-center">
	<h3>KVCL 2024</h3>
	<h4>National Level Cricket Tournament for Arya Vysyas</h4>
	<h5>Organized by Vasavi Yuva Jana Sangha KG Nagar, Bangalore</h5>
	<hr>
	<h5>
		Hi You are now successfully registered with us!
		Please <a href="/login">Login</a> to continue registering your team for the tournament!	
	</h5>
</div>
<footer class="bg-body-tertiary text-center text-lg-start">
	  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="/welcome">Karnataka Arya Vysya Vasavi Yuvajana Sangha, KG Nagar, Bangalore</a>
  </div>
</footer>

<div th:replace="fragments/layoutFragments :: footFrag"></div>

</body>
</html>