<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/layoutFragments :: headFrag}"></head>

<body class="d-flex flex-column vh-100">
	<div class="wrapper">
			<div class="main light text-dark text-center">
				<nav th:replace="~{fragments/layoutFragments  :: navFrag}"></nav>
				<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>
				
				<img class="img-fluid" width="100%"
							th:src="@{images/tournament-announcement.png}" />
				<img class="img-fluid" width="100%"
							th:src="@{images/kvcl-header-register-now.png}" />
				
				<h3>KVCL 2024</h3>
				<h4>Organized by Vasavi Seva Mandali (R) and Vasavi Yuvajana Sangha</h4>
				<h4>KG Nagar</h4>
				<div class="button">
					<a href="/register-user">Register Your Team Now</a>
				</div>
				<br>
				</div>
					<section>
							<div class="h3 text-center text-dark" id="pageHeaderTitle">Title Sponsors
								<h4>Coming Soon......</h4>
							</div>
					</section>	
					<br>
					<br>
 	
					<section >
						<div class="m-2">
							<div class="h3 text-center text-dark" id="pageHeaderTitle">Co Sponsored By</div>

							<article class="postcard light blue">
								<a class="postcard__img_link" > 
								<img  class="postcard__img" th:src="@{/images/vinod-opthalmic-works.jpeg}"  alt="Image Title" />
								</a>
								<div class="postcard__text t-dark">
									<h1 class="postcard__title blue">
										<a href="#">Vinod Ophthalmic Works by Gaurav V S</a>
									</h1>
									<div class="postcard__subtitle small">
										 <h5><i class="fa fa-solid fa-tags"></i> Sharpening one’s vision</h5>
										 <h5><i class="fa-solid fa-shop"></i> Address: #1, 19th cross, R.T.Street, Bengaluru, 560053</h5>
										 
									</div>
									<div class="postcard__bar"></div>
									<div class="postcard__preview-txt">Your Spectacles will be dispatched within 15-20 mins
										In house manufacturing setup
										Priority store for LUXOTICA brands 
										Authorised dealers of Manufacturers, wholesalers and retailers of Frame, Lenses, contact lenses and sunglasses</div>
										
										25% off on all branded frames, sunglasses and lenses &
										contact lenses available at wholesale prices!
									<ul class="postcard__tagbox">
										<li class="tag__item"><i class="fa-solid fa-location-dot"><a target="_blank" href="https://www.google.com/maps/place/12%C2%B058'22.8%22N+77%C2%B034'30.4%22E/@12.9730034,77.5725441,17z/data=!3m1!4b1!4m4!3m3!8m2!3d12.9730034!4d77.575119?hl=en&entry=ttu">
										</i>Location</li></a>
										<li class="tag__item"><i class="fa-solid fa-phone"></i>080 41517666</li>
										<li class="tag__item"><i class="fa-solid fa-phone"></i>080 41517667</li>
									</ul>
								</div>
							</article>
					<!--		 
					
							<article class="postcard light red">
								<a class="postcard__img_link" href="#"> <img
									class="postcard__img" src="https://picsum.photos/501/500"
									alt="Image Title" />
								</a>
								<div class="postcard__text t-dark">
									<h1 class="postcard__title red">
										<a href="#">Podcast Title</a>
									</h1>
									<div class="postcard__subtitle small">
										<time datetime="2020-05-25 12:00:00">
											<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
										</time>
									</div>
									<div class="postcard__bar"></div>
									<div class="postcard__preview-txt">Lorem ipsum dolor sit
										amet consectetur adipisicing elit. Eligendi, fugiat asperiores
										inventore beatae accusamus odit minima enim, commodi quia,
										doloribus eius! Ducimus nemo accusantium maiores velit
										corrupti tempora reiciendis molestiae repellat vero. Eveniet
										ipsam adipisci illo iusto quibusdam, sunt neque nulla unde
										ipsum dolores nobis enim quidem excepturi, illum quos!</div>
									<ul class="postcard__tagbox">
										<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
										<li class="tag__item"><i class="fas fa-clock mr-2"></i>55
											mins.</li>
										<li class="tag__item play red"><a href="#"><i
												class="fas fa-play mr-2"></i>Play Episode</a></li>
									</ul>
								</div>
							</article>
			 	
			
					<article class="postcard light green">
								<a class="postcard__img_link" href="#"> <img
									class="postcard__img" src="https://picsum.photos/500/501"
									alt="Image Title" />
								</a>
								<div class="postcard__text t-dark">
									<h1 class="postcard__title green">
										<a href="#">Podcast Title</a>
									</h1>
									<div class="postcard__subtitle small">
										<time datetime="2020-05-25 12:00:00">
											<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
										</time>
									</div>
									<div class="postcard__bar"></div>
									<div class="postcard__preview-txt">Lorem ipsum dolor sit
										amet consectetur adipisicing elit. Eligendi, fugiat asperiores
										inventore beatae accusamus odit minima enim, commodi quia,
										doloribus eius! Ducimus nemo accusantium maiores velit
										corrupti tempora reiciendis molestiae repellat vero. Eveniet
										ipsam adipisci illo iusto quibusdam, sunt neque nulla unde
										ipsum dolores nobis enim quidem excepturi, illum quos!</div>
									<ul class="postcard__tagbox">
										<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
										<li class="tag__item"><i class="fas fa-clock mr-2"></i>55
											mins.</li>
										<li class="tag__item play green"><a href="#"><i
												class="fas fa-play mr-2"></i>Play Episode</a></li>
									</ul>
								</div>
							</article>
							<article class="postcard light yellow">
								<a class="postcard__img_link" href="#"> <img
									class="postcard__img" src="https://picsum.photos/501/501"
									alt="Image Title" />
								</a>
								<div class="postcard__text t-dark">
									<h1 class="postcard__title yellow">
										<a href="#">Podcast Title</a>
									</h1>
									<div class="postcard__subtitle small">
										<time datetime="2020-05-25 12:00:00">
											<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
										</time>
									</div>
									<div class="postcard__bar"></div>
									<div class="postcard__preview-txt">Lorem ipsum dolor sit
										amet consectetur adipisicing elit. Eligendi, fugiat asperiores
										inventore beatae accusamus odit minima enim, commodi quia,
										doloribus eius! Ducimus nemo accusantium maiores velit
										corrupti tempora reiciendis molestiae repellat vero. Eveniet
										ipsam adipisci illo iusto quibusdam, sunt neque nulla unde
										ipsum dolores nobis enim quidem excepturi, illum quos!</div>
									<ul class="postcard__tagbox">
										<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
										<li class="tag__item"><i class="fas fa-clock mr-2"></i>55
											mins.</li>
										<li class="tag__item play yellow"><a href="#"><i
												class="fas fa-play mr-2"></i>Play Episode</a></li>
									</ul>
								</div>
							</article> 
						</div> -->
						
					</section>
					
					<!-- 
					<div class="h1 text-center text-dark" id="pageHeaderTitle">Team Sponsorers</div>
				
					<section>
					   <div class="text-dark m-2">
					   <div class="row">
					         <div class="col-md-4">
					            <div class="card profile-card-2">
					               <div class="card-img-block mb-2">
					                  <img class="img-fluid" th:src="@{/images/sponsor-logo/kabalaji-logo.jpeg}" alt="Card image">
					               </div>
					                <p class="contact">Phone num</p>
					               <div class="card-body pt-5">
					                  <img th:src="@{/images/dummy.jpeg}" alt="profile-image" class="profile" />
					                  <h5 class="card-title">KA Balaji</h5>
					                  <p class="card-text">The first ones in Karnataka to start mdf jali cutting through machines, it’s 45 yr old business, the first one to start manufacturing perforated Prelam mdf of upto 100 sheets in a single day in India</p>
					                  <div class="icon-block"><a href="https://www.instagram.com/balaji_grills/?utm_source=qr"><i class="fa fa-instagram"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
					                  </div>
					               </div>
					            </div>
					         </div>
					
					         <div class="col-md-4">
					            <div class="card profile-card-3">
					               <div class="background-block">
					                  <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
					               </div>
					               <div class="profile-thumb-block">
					                  <img src="https://randomuser.me/api/portraits/men/78.jpg" alt="profile-image" class="profile" />
					               </div>
					               <div class="card-content">
					                  <h2>Justin Tim<small>Designer</small></h3>
					                     <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
					                     </div>
					               </div>
					            </div>
					            <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p>
					         </div>
					
					         <div class="col-md-4">
					            <div class="card profile-card-4">
					               <div class="card-img-block">
					                  <div class="info-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
					                     tempor incididunt ut labore et dolore magna aliqua.</div>
					                  <img class="img-fluid" src="https://images.unsplash.com/photo-1458668383970-8ddd3927deed?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1004&q=80" alt="Card image cap">
					               </div>
					               <div class="card-body pt-5">
					                  <img src="https://randomuser.me/api/portraits/women/84.jpg" alt="profile-image" class="profile" />
					                  <h5 class="card-title text-center">Hannah McCall</h5>
					                  <p class="card-text text-center">Some quick example text to build on the card title and make up
					                     the bulk of the card's content.</p>
					                  <div class="icon-block text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#">
					                        <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
					                  </div>
					               </div>
					            </div>
					            <p class="mt-3 w-100 float-left text-center"><strong>Info block with hover</strong></p>
					         </div>

				         </div>
						<div class="row">
					         <div class="col-md-4">
					            <div class="card profile-card-5">
					               <div class="card-img-block">
					                  <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" alt="Card image cap">
					               </div>
					               <div class="card-body pt-0">
					                  <h5 class="card-title">Florence Pink</h5>
					                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
					                     the card's content.</p>
					               </div>
					            </div>
					            <p class="mt-3 w-100 float-left text-center"><strong>Card with Floting Picture</strong></p>
					         </div>
					         
					         <div class="col-md-4">
					            <div class="card profile-card-2">
					               <div class="card-img-block">
					                  <img class="img-fluid" src="https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80" alt="Card image">
					               </div>
					               <div class="card-body pt-5">
					                  <img src="https://randomuser.me/api/portraits/men/79.jpg" alt="profile-image" class="profile" />
					                  <h5 class="card-title">Jack Hunt</h5>
					                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of
					                     the card's content.</p>
					                  <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
					                  </div>
					               </div>
					            </div>
					            <p class="mt-3 w-100 float-left text-center"><strong>Social Profile Card</strong></p>
							</div>
							
					   		 <div class="col-md-4">
					            <div class="card profile-card-3">
					               <div class="background-block">
					                  <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
					               </div>
					               <div class="profile-thumb-block">
					                  <img src="https://randomuser.me/api/portraits/men/78.jpg" alt="profile-image" class="profile" />
					               </div>
					               <div class="card-content">
					                  <h2>Justin Tim<small>Designer</small></h3>
					                     <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a>
					                     </div>
					               </div>
					            </div>
					            <p class="mt-3 w-100 float-left text-center"><strong>Modren Profile Card</strong></p>
					         </div>
					         
					         
					       
							</div>
							</div>
					</section> -->
					</div>
					
	<div th:replace="~{fragments/layoutFragments :: footFrag}"></div>

</body>
</html>
