<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:insert="~{fragments/layoutFragments :: headFrag}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column vh-100">
	<div class="wrapper">
			<div class="main light text-dark text-center">
				<nav th:replace="~{fragments/layoutFragments  :: navFrag}"></nav>
				<div th:replace="~{fragments/layoutFragments :: marqueeFrag}"></div>
				
								<img class="img-fluid" width="100%"
							th:src="@{images/tournament-announcement.png}" />
				<img class="img-fluid" width="100%"
							th:src="@{images/scpfw-kvcl-2024.png}" />
				
				<div th:replace="~{fragments/layoutFragments :: teamLogoMarqueeFrag}" ></div>
				<br>

				<p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;"><span class="titles">Click on below button to Login</span></p>
				<div class="button">
					<a href="/login">User Login</a>
				</div>
				<br>

				<p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;"><span class="titles">Click on below button for Registering as Viewer</span></p>
				<div class="button">
					<a href="/register-user">Register as viewer</a>
				</div>
				<br>

				<p class="text-dark text-center" style="font-size: 35px;font-weight: bolder;"><span class="titles">Check out our elite sponsors</span></p>
				<div class="button">
					<a href="/our-sponsors">Our Sponsors</a>
				</div>
				<br>
				</div>
<!--		<div th:replace="~{fragments/sponsorsFragment :: eventSponsorsFrag}"></div>-->
<!--		<div th:replace="~{fragments/sponsorsFragment :: titleSponsorsFrag}"></div>-->
<!--		<div th:replace="~{fragments/sponsorsFragment :: printingPartnersFrag}"></div>-->
<!--		<div th:replace="~{fragments/sponsorsFragment :: coSponsorsFrag}"></div>-->
<!--		<div th:replace="~{fragments/sponsorsFragment :: teamSponsorsFrag}"></div>-->
<!--		<div th:replace="~{fragments/sponsorsFragment :: miscSponsorsFrag}"></div>-->

		<div th:replace="~{fragments/layoutFragments :: sponsorLogoMarqueeFrag}" ></div>

		</div>
	<div th:replace="~{fragments/layoutFragments :: footFrag}"></div>
</body>
</html>