<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:include="fragments/layoutFragmentsPrivate :: headFrag"></head>

<body class="d-flex flex-column vh-100">

<div th:include="fragments/layoutFragmentsPrivate  :: navFrag" ></div>

<div th:replace="fragments/layoutFragments :: marqueeFrag"></div>

<div class="container overflow-auto text-center vh-100">
	<h3>KVCL 2024</h3>
	<h4>National Level Cricket Tournament for Arya Vysyas</h4>
	<br>
		<img class="img-fluid" width="100%" src="../static/images/tournament-annoncement.jpeg" th:src="@{images/tournament-annoncement.jpeg}"/>
	<br>
	<br>
	<h5>Organized by Vasavi Seva Mandali (R) and Vasavi Yuvajana Sangha</h5>
	<h5>KG Nagar, Bangalore, </h5>
	<a href="/user-home" class="btn btn-lg btn-primary">Fill in Team Details Now</a>	
</div>

<div th:replace="fragments/layoutFragmentsPrivate :: footFrag"></div>

</body>
</html>